* text=auto
*.tmLanguage.j2.yml linguist-language=YAML linguist-detectable
*.tmLanguage.yml linguist-language=YAML linguist-detectable
syntaxes/agda.tmLanguage.yml linguist-generated
*.tmLanguage.json linguist-language=JSON linguist-generated
