.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md

.vscodeignore
node_modules/**
.gitattributes
**/.DS_Store

convert_yml_to_json.sh
process_jinja_templates.py
requirements.txt
TODO

syntaxes/*.yml
syntaxes/*.yaml

icons/agda-icon.svg
icons/colored-dark-128.png
icons/colored-dark.png
icons/colored-light-128.png
icons/colored-light-bg-128.png
icons/colored-light.png
